.main_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin: 100px 0 0 0;
}

.inner_main {
  background: rgba(18, 14, 251, 0.03);
  width: 855px;
  height: 322px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @media (max-width: 768px) {
    width: 320px;
    height: 200px;
  }

  h2 {
    color: rgba(30, 30, 30, 0.75);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media (max-width: 768px) {
        font-size: 12px;
      }
  }

  p {
    color: rgba(30, 30, 30, 0.75);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 768px) {
        font-size: 12px;
      }
  }

  button {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10px;
    border: 1px solid #120EFB;
    background: #120EFB;
    width: 256px;
    height: 65px;
    flex-shrink: 0;
    border: none;
    outline: none;

    @media (max-width: 768px) {
        font-size: 12px;
        width: 150px;
        height: 40px;
      }
  }
}