.main_cont {
 padding: 40px 80px;
 font-family: 'Poppins', sans-serif;

 h2 {
  color: #000;
  text-align: justify;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 }
}

#p {
 color: #000;
 text-align: justify;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
}

.ul_cont {
 list-style-type: none;
 display: flex;
 flex-direction: column;
 gap: 10px;

 li {
  display: grid;
  grid-template-columns: 0.3fr 4fr 1fr;
  align-items: center;
  background: rgba(18, 14, 251, 0.02);
  width: 732px;
  height: 59px;
  flex-shrink: 0;
 }
}