.main_cont {
  margin: 0 auto 0 auto;
  width: 100%;
  padding: 40px 60px;
}

.main_ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;

  li {
    color: #120efb;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  li:nth-child(2) {
    display: flex;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #1e1e1e;
    display: inline-flex;
    padding: 11px 6px 10px 15px;
    align-items: center;
    gap: 26.293px;
    width: 250px;
    height: 45px;

    span {
      color: rgba(30, 30, 30, 0.75);
      font-family: "Poppins", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      img {
       margin: 8px 0 0 0;
      }
    }

    span:nth-child(3) {
      margin-left: -10px;
    }
  }
}
