.cards_ul {
 list-style-type: none;
 width: 400px;
 height: 246px;
 background: #FFF;
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
 padding: 0;
 font-family: 'Poppins', sans-serif;

 li:nth-child(1) {
  border-radius: 10px 10px 0px 0px;
  background: #120EFB;
  width: 400px;
  height: 100px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 40px 20px;
 }

 li {
  color: rgba(30, 30, 30, 0.85);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 337px;
  padding: 40px 20px;
 }
}