.main_cont {
  font-family: 'Poppins', sans-serif;
  padding: 20px 50px 50px 50px;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

#p_text {
  color: rgba(30, 30, 30, 0.80);
  text-align: justify;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

#p_note {
  color: #1E1E1E;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  width: 830px;
  margin: 30px 0;

  @media (max-width: 768px) {
    width: 330px;
    text-align: center;
  }
}

th {
  width: 151px;
  height: 76px;
  padding: 0 20px;

  @media (max-width: 768px) {
    width: 45px;
    font-size: 8px;
    padding: 0 5px;
  }
}

.date_cont {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0 0 30px 0;

  @media (max-width: 768px) {
    gap: 10px;
    margin: 0 0 10px 0;
  }

  li {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 25px;
    background: rgba(215, 215, 215, 0.10);
    display: inline-flex;
    padding: 10px 13px 10px 26px;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;

    @media (max-width: 768px) {
      padding: 5px 6px 5px 12px;
      gap: 2px;
    }

    span {
      color: #1E1E1E;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
    }
  }
}

.date_input {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  border: none;
  color: #fff;
  border-radius: 25px;
  background: #F0A617;
  width: 150px;
  height: 35px;
  flex-shrink: 0;
  padding: 0 20px;
  margin-left: 10px;

  @media (max-width: 768px) {
    width: 100px;
    height: 25px;
    padding: 0 10px;
    margin-left: 0;
    font-size: 8px;
  }
}

.tans_ul {
  background: #FFF;
  width: 150px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  list-style-type: none;
  padding: 20px;
  margin: 100px 0 0 185px;

  li:nth-child(1) {
    color: #1E1E1E;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  li {
    color: #1E1E1E;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    width: 150px;
    text-align: left;
    height: 30px;
    padding: 3px 0 0 20px;

    &:hover {
      background: rgba(18, 14, 251, 0.05);
    }
  }
}

#tans_ul2 {
  height: 127px;
  margin: 100px 0 0 335px;
}

#tans_ul3 {
  margin: 100px 0 0 465px;
}

.trans_history_main {
  display: flex;
  flex-direction: column;
  align-items: start;

  h2 {
    color: var(--colour, #1E1E1E);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}