.modalOverlay {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(241, 225, 225, 0.7);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 30px;
 z-index: 1;
}

.modal {
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
 border-radius: 5px;
 background: rgb(195, 190, 190);
 width: 693px;
 height: 231px;
 gap: 10px;
 flex-shrink: 0;
 position: relative;
 z-index: 3;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 56px 161px 56px 162px;

 @media (max-width: 768px) {
  width: 300px;
  height: 250px;
  padding: 38.5px 20px 38.5px 19px;

 }

 p {
  color: rgba(30, 30, 30, 0.75);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* 150% */

  @media (max-width: 768px) {
   width: 261px;
  }
 }

 a {
  text-decoration: none;
 }

 button {
  color: #000;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid #120EFB;
  background: #120EFB;
  width: 256px;
  height: 65px;
  flex-shrink: 0;
  border: none;
  outline: none;
 }
}