.main_cont {
 padding: 30px;
 font-family: 'Poppins', sans-serif;
}

#header {
 color: #1E1E1E;
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;

 @media (max-width: 768px){
  font-size: 12px;
 }
}

.id_ul_main_cont {
 margin: 40px;

 @media (max-width: 768px) {
   margin: 20px;
  }
}

.id_ul {
 display: flex;
 gap: 20px;
 align-items: center;
 list-style-type: none;
 padding: 0;

 li:nth-child(2) {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (max-width: 768px) {
    font-size: 16px;
   }
 }
}

.card_cont {
 display: flex;
 gap: 40px;
 align-items: center;
 justify-content: center;
 padding: 50px 0;

 @media (max-width: 768px) {
   flex-direction: column;
   gap: 20px;
   padding: 20px 0;
  }

 div {
  border-radius: 5px;
  border: 1px solid rgba(215, 215, 215, 0.75);
  background: #FFF;
  width: 433px;
  flex-shrink: 0;
  padding: 30px 20px;

  @media (max-width: 768px) {
    padding: 15px 10px;
    width: 300px;
   }

  ul {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   gap: 4px;

   li {
    display: flex;
    gap: 5px;
    color: #1E1E1E;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }

   li:nth-child(1) {
    color: #1E1E1E;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   }

   button {
    border-radius: 10px;
    border: 1px solid #F0A617;
    background: #FFF;
    width: 121px;
    height: 50px;
    flex-shrink: 0;
    color: #F0A617;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0 0 200px;

    @media (max-width: 768px) {
      margin: 20px 0 0 100px;
     }
   }
  }
 }
}